{{#each this}}
  <h2 class='title'>{{name}}</h2>
  <div class='card'>
    <div class='list'>
      <p><span class='subtitle'>Capital:</span> {{capital}}</p>
      <p><span class='subtitle'>Population:</span> {{population}}</p>
      <p><span class='subtitle'>Languages:</span> </p>
      <ul class='language'>
        {{#each this.languages}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class='flag'>
      <img src='{{flag}}' alt='flag' width='250' />
    </div>
  </div>
{{/each}}